<h1>Whatever</h1>

<p>This view can have whatever HTML we want.</p>

<p>It can also use instance variables in the route that renders the view: <%= @something %></p>
<p><%= @somethingElse %> <%= @something %></p>
